h5 {
  text-align: center;
  padding: 20px 0px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.containerDark {
  background-color: #000;
}

.containerLight {
  background-color: rgb(216, 216, 216);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 80%;
  margin-right: 1em;
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 500;
  font-size: 2em;
}
